body {    
    background: #25A9FC;
}

.box {
    background-color: #282c34;        
    border: #d7dae0 dotted 1px;
    border-radius: 5px;
    display: block;
    height: 420px;
    margin: auto;
    margin-top: 8%;
    position: relative;
    width: 600px;
}

.head {
    background-color: #A6BECF;
    border-radius: 50%;
    height: 67%;
    left: 25%;
    position: absolute;
    top: 16.5%;
    width: 50%;
}

.head-copy {
    background-color: #a6becf;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.ear {
    background-color: #a6becf;
    border-radius: 50%;
    height: 65%;    
    position: absolute;    
    top: 5%;
    width: 60%;
}

#ear-left { left: -20%; }

#ear-right { right: -20%; }

.inner-ear {
    background-color: #819CAF;  
    border: #61697c solid 1px;
    border-radius: 50%;  
    height: 80%;
    left: 10%;
    position: absolute;
    top: 10%;
    width: 80%;
}

.eye {
    background-color: whitesmoke;
    border-radius: 50%;
    height: 33%;    
    position: absolute;
    top: 25%;    
    width: 30%; 
    z-index: 3;   
}

#eye-left { left: 25%; }

#eye-right { right: 25%; }

.pupil {
    background: #27354A;
    border-radius: 50%;
    height: 30%;
    left: 36%;
    position: absolute;    
    top: 25%;
    width: 28%;
}

#nose {
    background: #BE845F;
    border-radius: 50px;
    height: 42.5%;
    left: 37%;
    position: absolute;
    top: 45%;
    width: 25%;
    z-index: 3;
}